.Hero {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #101728;
  height: 100vh;

  .nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;

    .left-part {
      display: flex;
      flex-direction: row;
      justify-content: left;
      width: 50%;
    }
  }

  .nav img {
    width: 80px;
    margin: 0 20px 0 20px;
  }

  .nav .right-part {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
  }
}
