.projectsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 80%;
  max-width: 1500px;
  margin: auto;
  height: 600px;

  .card {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    background-color: $color-2;
    width: 23%;
    height: 500px;
    padding: 20px;
    border-radius: 30px;

    img {
      margin-bottom: 30px;
    }

    h2 {
      font-size: 2rem;
      margin-bottom: 40px;
    }

    .stareContainer {
      :hover {
        scale: 1.1;
        transition: 0.2s;
      }

      i {
        color: $color-8;
        font-size: 2rem;
      }
    }
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 40px;
      background-color: $color-1;
      width: 80%;
      height: 80px;
      border-radius: 50px;
      border: 2px solid $color-7;

      i {
        color: $color-7;
        font-size: 2rem;
      }
    }
  }
}

a:hover {
  scale: 1.1;
  transition: 0.2s;
}
