@font-face {
  font-family: "font-1";
  src: url(../Assets/Fonts/mokoto-mokoto-regular-400.ttf);
}

@font-face {
  font-family: "font-2";
  src: url(../Assets/Fonts/CodecPro-Regular.ttf);
}

$color-1: #101728;
$color-2: #1f41bb;
$color-3: #000000;
$color-4: #7ed957;
$color-5: #ff3c5f;
$color-6: #ce6704;
$color-7: #ffffff;
$color-8: #fdd61a;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "font-2";
}

body {
  background: $color-1;
  color: $color-7;
  height: 100vh;
  overflow: hidden;
}

li {
  list-style: none;
}

a {
  color: $color-7;
  text-decoration: none;
}
